tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #f2f2f2;
}
th,
td {
  text-align: center;
  padding: 10px;
}


caption {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

td {
  padding: 10px;
}

.Company_name {
  padding-left: 10px;
  text-align: left;
}

.date {
  padding-right: 10px;
}

.total_quantity {
  padding-left: 15px;
}

.border {
  border-left: 2px solid #c6c6c6;
  height: 1px;
  padding-top: 15px;
}

.blue {
  color: #3468f5;
}

.bold {
  font-weight: bold;
  color: #ffffff;
}

.invoice {
  display: flex;
  align-items: center;
}

.pay_button {
  border: 1px solid #62d45f;
  padding: 5px 30px;
  border-radius: 50px;
}

.pay {
  color: #62d45f;
}

.processing {
  color: #3468f5;
}



.processign_button {
  border: 1px solid #3468f5;
  padding: 5px 10px;
  border-radius: 50px;
}

.invoice_number {
  margin-top: 10px;
}

.th_align_right {
  text-align: right;
}

.th_align_left {
  text-align: left;
}

th {
	width:400px;
  color: #5d5b5b;
}

thead{
	margin-top: 100px;
}