<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tạo Đơn Vị</title>
        <link rel="stylesheet" th:href="@{/css/signup.css}" />
        <link rel="stylesheet" th:href="@{/css/styte.css}" />
    </head>
    <body>
        <div th:replace="header :: header"></div>

        <form th:action="@{http://localhost:9000/units/create}" onsubmit="createObject(event);" method="post">
            <h2>Tạo Đơn Vị</h2>
            <label for="name"></label>
            <input type="text" id="name" name="name" th:value="${name}" placeholder="Tên đơn vị" required />
            <br />
            <label for="description"></label>
            <input type="text" id="description" name="description" th:value="${description}" placeholder="Mô tả" required />
            <button type="submit">Tạo mới</button>
        </form>
        <script th:inline="javascript">
            function createObject(event) {
                event.preventDefault();
                var form = event.target;
                var data = {
                    name: form.elements.name.value,
                    description: form.elements.description.value,
                };
                var token = /*[[${session.accesstoken}]]*/ "";

                // Chuyển đổi object data thành query string
                var queryString = Object.keys(data)
                    .map((key) => key + "=" + data[key])
                    .join("&");
                fetch("http://localhost:9000/units/create?" + queryString, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Authorization: token,
                    },
                })
                    .then((response) => {
                        console.log(response);
                        alert("Đã tạo Thành Công");
                        form.reset();
                    })
                    .catch((error) => {
                        console.error(error);
                    });
            }
        </script>
    </body>
</html>
