<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <link rel="stylesheet" th:href="@{/css/styte.css}" />
        <link rel="stylesheet" th:href="@{/css/importMaterial.css}" />
    </head>
    <body>
        <div th:replace="header :: header"></div>
        <br />
        <br />
        <br />
        <br />
        <div id="container">
            <h2>Phiếu Nhập Kho</h2>
            <form id="materialForm" th:object="${material}" th:action="@{/material-import}" method="post">
                <label for="discountPercent">Giảm Giá Theo Phần Trăm(%):</label> <input type="number" id="discountPercent" name="discountPercent" /> <label for="vat">Thuế(VAT)</label> <input type="number" id="vat" name="vat" />

                <label for="discountAmount">Giảm Giá Theo Tiền Mặt("VND"):</label> <input type="number" id="discountAmount" name="discountAmount" /> <label for="_description">Chú Thích</label>
                <input type="text" id="_description" name="_description" /> <label for="materials">Nguyên Liệu</label>
                <div id="materialsList">
                    <div class="materialItem">
                        <select id="material-id" name="materials[]" required class="material-select"> </select>
                        <input type="text" name="quantity[]" placeholder="Quantity" class="quantity-input" />
                    </div>
                </div>

                <button id="addMaterial">Thêm Nguyên Liệu</button>

                <br />
                <br />
                <button type="submit">Thêm Mới</button>
            </form>
        </div>
        <script th:inline="javascript">
            var token = /*[[${session.accesstoken}]]*/ "";
            var materialSelect = document.getElementById("material-id");

            fetch("http://localhost:9000/material/list/to-warehouse", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: token,
                },
            })
                .then((response) => response.json())
                .then((materials) => {
                    materials.forEach((material) => {
                        var option = document.createElement("option");
                        option.value = material.id;
                        option.text = material.name;
                        materialSelect.add(option);
                    });
                })
                .catch((error) => console.log(error));

            document.getElementById("materialForm").addEventListener("submit", function (event) {
                event.preventDefault();

                const formData = new FormData(event.target);
                const discountPercent = formData.get("discountPercent");
                const vat = formData.get("vat");
                const discountAmount = formData.get("discountAmount");
                const _description = formData.get("_description");
                const materialSelects = document.querySelectorAll(".material-select");
                const materials = [];

                materialSelects.forEach(function (select) {
                    const materialId = parseInt(select.value);
                    const quantityInput = select.parentElement.querySelector(".quantity-input");
                    const quantity = parseInt(quantityInput.value.trim());

                    const material = { material_id: materialId, quantity: quantity };
                    materials.push(material);
                });

                const materialsBody = JSON.stringify(materials);

                var params = new URLSearchParams();
                params.append("discountPercent", discountPercent);
                params.append("vat", vat);
                params.append("discountAmount", discountAmount);
                params.append("_description", _description);
                params.append("materials", materialsBody);

                fetch("http://localhost:9000/material-import?" + params.toString(), {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Authorization: token,
                    },
                }).then((response) => response.json(), alert("Đã tạo thành công"));
                location
                    .reload()

                    .then((data) => {
                        console.log(data);
                        // handle response data here
                    })
                    .catch((error) => console.error(error));
            });

            // Lấy thẻ button "Add Material"
            const addMaterialButton = document.getElementById("addMaterial");

            // Lấy thẻ chứa danh sách nguyên liệu
            const materialsList = document.getElementById("materialsList");

            addMaterialButton.addEventListener("click", function () {
                // Tạo thẻ div mới để chứa select và input
                const newMaterialItem = document.createElement("div");
                newMaterialItem.className = "materialItem";

                // Tạo select mới
                const newMaterialSelect = document.createElement("select");
                newMaterialSelect.name = "material_id[]";
                newMaterialSelect.className = "material-select";

                // Gọi API để lấy danh sách nguyên liệu
                fetch("http://localhost:9000/material/list/to-warehouse", {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                        Authorization: token,
                    },
                })
                    .then((response) => response.json())
                    .then((materials) => {
                        // Tạo các option mới từ danh sách nguyên liệu và thêm chúng vào select mới
                        materials.forEach((material) => {
                            const option = document.createElement("option");
                            option.value = material.id;
                            option.textContent = material.name;
                            newMaterialSelect.appendChild(option);
                        });
                    })
                    .catch((error) => console.log(error));

                // Tạo input mới
                const newQuantityInput = document.createElement("input");
                newQuantityInput.type = "text";
                newQuantityInput.name = "quantity[]";
                newQuantityInput.placeholder = "Quantity";
                newQuantityInput.className = "quantity-input";
                newQuantityInput.required = true;

                // Thêm select và input vào thẻ div mới
                newMaterialItem.appendChild(newMaterialSelect);
                newMaterialItem.appendChild(newQuantityInput);

                // Thêm thẻ div mới vào danh sách nguyên liệu
                materialsList.appendChild(newMaterialItem);
            });
        </script>
    </body>
</html>
